.gauge {
  margin: 0 auto -15px;
  width: 440px;
}

.final-volume {
  font-weight: bold;
  animation-fill-mode: both;
  animation-name: bounceIn;
  animation-duration: .75s;
}

.feedback {
  text-align: center;
  font-size: 2.5rem;

  &__message {
    margin: 1rem 0;
  }

  &__button {
    visibility: hidden;
  }
}
